.search {
  &__label {
    color: var(--grey_500);
    height: 1.5rem;
  }

  &__top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__submit {
    border: 1px solid var(--accent_color);
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    color: var(--grey_500);
    height: 1.5rem;
    width: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: 0;

    span {
      padding-right: 10px;
      border-right: 1px solid var(--accent_color);
    }

    &:hover, &:focus {
      outline: 1px solid;
    }
  }

  &__dropdown {
    list-style-type: none;
    border-bottom: 2px solid var(--accent_color);
    border-radius: 0.2rem;
    padding: 0.5rem;
    position: absolute;
    z-index: 999;
    top: 2.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: #fff;
    box-shadow: var(--box_shadow);
    max-height: 30vh;
    overflow-Y: auto;
  }

  &__item {
    padding: 0.55rem 0;
    display: flex;
    align-items: center;

    svg {
      color: var(--grey_300);
    }

    &:hover {
      svg {
        color: var(--accent_color);
      }
    }

    button {
      margin-left: 0.7rem;
      line-height: 1.5rem;
      text-align: left;
      cursor: pointer;
      flex-grow: 1;
      background: 0;
      border: 0;
      border-bottom: 1px solid var(--grey_100);
      outline: 0;
      color: var(--grey_500);
      font-size: 1rem;

      &:hover, &:focus-visible {
        color: var(--accent_color);
      }
    }
  }

  &__field {
    position: relative;
    margin: 0.5rem 0;

    .search__icon-search {
      position: absolute;
      left: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
      color: var(--grey_500);
    }
  }

  &__input {
    border: 0;
    border-radius: 0.3rem;
    border-bottom: 2px solid var(--grey_300);
    height: 2rem;
    width: 30ch;
    padding: 0.25rem 2rem;
    font-size: 1rem;
    font-family: var(--font-family);
    box-shadow: var(--box_shadow);
    color: var(--grey_500);

    &:focus-visible {
      outline: 0;
      border-color: var(--accent_color);
    }
  }

}