html {
  background: rgb(248, 237, 227);
  background: linear-gradient(70deg, rgba(248, 237, 227, 1) 9%, rgba(151, 222, 206, 1) 28%, rgba(255, 255, 255, 1) 46%, rgba(255, 255, 255, 1) 81%);
  background-repeat: no-repeat;
  background-size: cover;

}

body {
  min-height: 100svh;
}

.page {
  padding-top: calc(var(--header-height) + 10px);
}