html {
  background: #fff;
  background-size: cover;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100svh;
}

.page {
  padding-top: calc(var(--header-height) + 10px);
  width: 1024px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .page {
    width: 100%;
  }
}

*, a, button {
  box-sizing: border-box;
}