html {
  --header-height: 40px;
  --font-family: 'Roboto', sans-serif;
  --border-opacity: 90;
  --grey_100: rgb(243, 244, 246);
  --grey_300: rgb(156, 163, 175);
  --grey_500: rgb(75, 85, 99);
  --teal_800: rgb(17, 94, 89);
  --accent_color: rgb(13, 148, 136);

  --box_shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}