.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: var(--header-height);
  width: 100vw;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
  background: rgba(48, 48, 48, 95%);
  box-shadow: var(--box_shadow);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  a {
    color: var(--grey_100);
  }
}